<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0-Instruction</key>
	<dict>
		<key>A0</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>开关关</string>
		</dict>
		<key>A1</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>开关开</string>
		</dict>
		<key>A2</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>sCommand</key>
			<dict>
				<key>01</key>
				<string>查询用户信息</string>
				<key>02</key>
				<string>重新获取访客密码</string>
				<key>03</key>
				<string>获取用户列表</string>
				<key>04</key>
				<string>获取设备配置参数</string>
				<key>0F</key>
				<string>获得管理员权限</string>
			</dict>
			<key>type</key>
			<string>查询信息类</string>
		</dict>
		<key>A3</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>开锁</string>
		</dict>
		<key>A4</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>读取设备状态</string>
		</dict>
		<key>A5</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>开启智能匹配模式</string>
		</dict>
		<key>A6</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>读取主机ID</string>
		</dict>
		<key>A7</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>关闭远程UDP连接通道</string>
		</dict>
		<key>A8</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>开启红外学习模式</string>
		</dict>
		<key>A9</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>发送红外学习指令</string>
		</dict>
		<key>AA</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>主机心跳包</string>
		</dict>
		<key>AB</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>sCommand1</key>
			<dict>
				<key>01</key>
				<string>默认(密码、指纹、IC卡任一都可以开锁）</string>
				<key>02</key>
				<string>指纹和密码和IC卡</string>
				<key>03</key>
				<string>指纹或密码和IC卡</string>
				<key>04</key>
				<string>指纹和IC卡或密码</string>
				<key>05</key>
				<string>指纹和密码或IC卡</string>
				<key>06</key>
				<string>仅指纹</string>
				<key>07</key>
				<string>仅IC卡</string>
				<key>08</key>
				<string>仅密码</string>
				<key>0F</key>
				<string>获得管理员权限</string>
			</dict>
			<key>type</key>
			<string>设置设备信息</string>
		</dict>
		<key>AC</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>读取主机温度</string>
		</dict>
		<key>AD</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>sCommand</key>
			<dict>
				<key>01</key>
				<string>添加用户</string>
				<key>02</key>
				<string>录入指纹信息</string>
				<key>03</key>
				<string>录入IC卡信息</string>
				<key>04</key>
				<string>设置用户密码</string>
			</dict>
			<key>type</key>
			<string>设备添加信息</string>
		</dict>
		<key>AE</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>sCommand</key>
			<dict>
				<key>01</key>
				<string>更改用户密码</string>
				<key>02</key>
				<string>退出APP设置菜单</string>
				<key>03</key>
				<string>修改用户ID</string>
				<key>04</key>
				<string>取消当前操作</string>
				<key>05</key>
				<string>修改主机ID</string>
				<key>06</key>
				<string>胁迫报警设置</string>
				<key>07</key>
				<string>开门语音设置</string>
				<key>08</key>
				<string>门锁常开设置</string>
				<key>0F</key>
				<string>更改管理员密码</string>
			</dict>
			<key>type</key>
			<string>更改设备信息</string>
		</dict>
		<key>AF</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>sCommand</key>
			<dict>
				<key>01</key>
				<string>删除指纹</string>
				<key>02</key>
				<string>删除IC卡信息</string>
				<key>03</key>
				<string>删除用户密码</string>
				<key>04</key>
				<string>取消当前操作</string>
				<key>0F</key>
				<string>删除该用户所有信息</string>
			</dict>
			<key>type</key>
			<string>删除设备信息</string>
		</dict>
		<key>C8</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>取消学习</string>
		</dict>
		<key>D3</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>开锁失败</string>
		</dict>
		<key>D5</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>下发红外智能配置指令成功</string>
		</dict>
		<key>D8</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>下发学习指令成功</string>
		</dict>
		<key>D9</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>发送红外学习指令成功</string>
		</dict>
		<key>DD</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>透传指令</string>
		</dict>
		<key>DF</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>发送红外码库指令</string>
		</dict>
		<key>E0</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>关闭从机成功</string>
		</dict>
		<key>E1</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>开启从机成功</string>
		</dict>
		<key>E2</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>sCommand</key>
			<dict>
				<key>01</key>
				<string>查询用户信息</string>
				<key>02</key>
				<string>重新获取访客密码</string>
				<key>03</key>
				<string>获取用户列表</string>
				<key>04</key>
				<string>获取设备配置参数</string>
				<key>0F</key>
				<string>获得管理员权限</string>
			</dict>
			<key>type</key>
			<string>查询信息成功</string>
		</dict>
		<key>E3</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>开锁成功</string>
		</dict>
		<key>E4</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>读取设备信息成功</string>
		</dict>
		<key>E5</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>收到红外智能匹配数据</string>
		</dict>
		<key>E6</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>读取主机ID成功</string>
		</dict>
		<key>E7</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>接收到上传配置成功返回</string>
		</dict>
		<key>E8</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>接收到红外学习到的数据返回</string>
		</dict>
		<key>E9</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>收到红外智能匹配数据</string>
		</dict>
		<key>EA</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>服务器回复的心跳包</string>
		</dict>
		<key>EB</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>sCommand1</key>
			<dict>
				<key>01</key>
				<string>默认(密码、指纹、IC卡任一都可以开锁）</string>
				<key>02</key>
				<string>指纹和密码和IC卡</string>
				<key>03</key>
				<string>指纹或密码和IC卡</string>
				<key>04</key>
				<string>指纹和IC卡或密码</string>
				<key>05</key>
				<string>指纹和密码或IC卡</string>
				<key>06</key>
				<string>仅指纹</string>
				<key>07</key>
				<string>仅IC卡</string>
				<key>08</key>
				<string>仅密码</string>
				<key>0F</key>
				<string>获得管理员权限</string>
			</dict>
			<key>type</key>
			<string>设置设备信息成功</string>
		</dict>
		<key>EC</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>读取主机温度成功</string>
		</dict>
		<key>ED</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>sCommand</key>
			<dict>
				<key>01</key>
				<string>添加用户</string>
				<key>02</key>
				<string>录入指纹信息</string>
				<key>03</key>
				<string>录入IC卡信息</string>
				<key>04</key>
				<string>设置用户密码</string>
			</dict>
			<key>type</key>
			<string>设备添加信息成功</string>
		</dict>
		<key>EE</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>sCommand</key>
			<dict>
				<key>01</key>
				<string>更改用户密码</string>
				<key>02</key>
				<string>退出APP设置菜单</string>
				<key>03</key>
				<string>修改用户ID</string>
				<key>04</key>
				<string>取消当前操作</string>
				<key>05</key>
				<string>修改主机ID</string>
				<key>06</key>
				<string>胁迫报警设置</string>
				<key>07</key>
				<string>开门语音设置</string>
				<key>08</key>
				<string>门锁常开设置</string>
				<key>0F</key>
				<string>更改管理员密码</string>
			</dict>
			<key>type</key>
			<string>更改设备信息成功</string>
		</dict>
		<key>EF</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>sCommand</key>
			<dict>
				<key>01</key>
				<string>删除指纹</string>
				<key>02</key>
				<string>删除IC卡信息</string>
				<key>03</key>
				<string>删除用户密码</string>
				<key>04</key>
				<string>取消当前操作</string>
				<key>0F</key>
				<string>删除该用户所有信息</string>
			</dict>
			<key>type</key>
			<string>执行红外指码库令成功/删除设备信息成功</string>
		</dict>
		<key>FE</key>
		<dict>
			<key>len</key>
			<integer>2</integer>
			<key>type</key>
			<string>执行蓝牙指令失败</string>
		</dict>
	</dict>
	<key>A0</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>从机ID</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>从机开关索引</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>转发从机ID</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>A1</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>从机ID</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>是否跳转</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>从机开关索引</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>转发从机ID</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>填充</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>动作标记</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>百分值</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>A3</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>从机ID</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>安全码</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>用户ID</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>A4-38</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>从机ID</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>是否跳转</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>从机开关索引</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>转发从机ID</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>A4-40</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>从机ID</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>安全码</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>A5</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>红外智能匹配指令</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>A6</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>广播主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>A7</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>A8</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>执行学习红外指令</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>A9</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>是否跳转</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>转发从机ID</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>学习的红外数据</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>AB</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>主机显示名字</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>从属类型</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>AC</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>读取主机温度</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>C8</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>取消红外学习指令</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>D3</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>从机ID</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>错误类型</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>D5</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>下发指令返回成功</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>D8</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>下发学习指令成功</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>D9</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>执行学习到的红外码成功</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>DD</key>
	<array>
		<dict>
			<key>PT指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PT模式</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PT主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>content</key>
			<string>{16, -18}</string>
		</dict>
		<dict>
			<key>PT校验码</key>
			<integer>-2</integer>
		</dict>
	</array>
	<key>DF</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>是否跳转</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>转发从机ID</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>码库数据</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>E0</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>从机ID</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>从机开关索引</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>E1</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>从机ID</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>从机开关索引</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>动作标记</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>总动作量程</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>百分值</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>E3</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>从机ID</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>电量值</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>门锁类型</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>固件版本号</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>安全码</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>E4-34</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>从机ID</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>电量值</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>动作标记</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>固件版本号</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>E4-38</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>从机ID</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>从机索引</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>固件类型</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>固件版本号</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>E4-46</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>从机ID</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>从机开关索引</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>动作标记</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>固件版本号</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>总动作量程</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>百分值</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>E5</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>收到红外智能匹配数据</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>E6</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>获取主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>主机类型代号</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>硬件固件内部版本号</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>硬件固件显示版本号</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>主机工作时长</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>远程IP地址</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>远程端口</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>主机型号名称</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>从属类型</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>E8</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>收到学习到的数据</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>EC</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>主机温度</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>EF</key>
	<array>
		<dict>
			<key>指令头</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>主机ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>执行红外码库数据发射指令成功</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>校验码</key>
			<integer>-4</integer>
		</dict>
	</array>
	<key>Lock</key>
	<dict>
		<key>A2</key>
		<array>
			<dict>
				<key>指令帧头</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>门锁ID</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>安全码</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>指令类型</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>01</key>
				<array>
					<dict>
						<key>用户索引号</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>02</key>
				<array>
					<dict>
						<key>当前访客密码索引号</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>03</key>
				<array>
					<dict>
						<key>当前索引号</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>04</key>
				<array>
					<dict>
						<key>开锁认证方式</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>门锁功能开关</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>系统电量管理模式</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>访客密码有效状态</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>最大用户数</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>0F</key>
				<array>
					<dict>
						<key>管理员权限</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>配置参数</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>校验码</key>
				<integer>-4</integer>
			</dict>
		</array>
		<key>AB</key>
		<array>
			<dict>
				<key>指令帧头</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>门锁ID</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>安全码</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>指令类型</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>00</key>
				<array>
					<dict>
						<key>开锁的验证方式</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>开锁状态</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>电量选择模式</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>01</key>
				<array>
					<dict>
						<key>用户索引号</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>02</key>
				<array>
					<dict>
						<key>当前访客密码索引号</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>03</key>
				<array>
					<dict>
						<key>当前索引号</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>04</key>
				<array>
					<dict>
						<key>开锁认证方式</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>门锁功能开关</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>系统电量管理模式</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>访客密码有效状态</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>最大用户数</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>0F</key>
				<array>
					<dict>
						<key>管理员权限</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>配置参数</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>校验码</key>
				<integer>-4</integer>
			</dict>
		</array>
		<key>AD</key>
		<array>
			<dict>
				<key>指令帧头</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>门锁ID</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>安全码</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>指令类型</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>01</key>
				<array>
					<dict>
						<key>用户索引号</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>用户索ID</key>
						<integer>8</integer>
					</dict>
				</array>
				<key>02</key>
				<array>
					<dict>
						<key>用户索引号</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>用户索ID</key>
						<integer>8</integer>
					</dict>
				</array>
				<key>03</key>
				<array>
					<dict>
						<key>用户索引号</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>用户索ID</key>
						<integer>8</integer>
					</dict>
				</array>
				<key>04</key>
				<array>
					<dict>
						<key>用户索引号</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>用户索ID</key>
						<integer>8</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>校验码</key>
				<integer>-4</integer>
			</dict>
		</array>
		<key>AE</key>
		<array>
			<dict>
				<key>指令帧头</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>门锁ID</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>安全码</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>指令类型</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>01</key>
				<array>
					<dict>
						<key>用户索引号</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>02</key>
				<array>
					<dict>
						<key>退出APP设置菜单</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>03</key>
				<array>
					<dict>
						<key>当前索引号</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>04</key>
				<array>
					<dict>
						<key>开锁认证方式</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>门锁功能开关</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>系统电量管理模式</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>访客密码有效状态</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>最大用户数</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>0F</key>
				<array>
					<dict>
						<key>管理员权限</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>配置参数</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>校验码</key>
				<integer>-4</integer>
			</dict>
		</array>
		<key>AF</key>
		<array>
			<dict>
				<key>指令帧头</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>门锁ID</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>安全码</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>指令类型</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>01</key>
				<array>
					<dict>
						<key>绑定的用户ID</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>02</key>
				<array>
					<dict>
						<key>绑定的用户ID</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>03</key>
				<array>
					<dict>
						<key>绑定的用户ID</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>04</key>
				<array>
					<dict>
						<key>绑定的用户ID</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>0F</key>
				<array>
					<dict>
						<key>绑定的用户ID</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>校验码</key>
				<integer>-4</integer>
			</dict>
		</array>
		<key>E2</key>
		<array>
			<dict>
				<key>指令帧头</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>门锁ID</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>安全码</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>指令类型</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>01</key>
				<array>
					<dict>
						<key>用户索引号</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>当前用户指纹最大容量</key>
						<integer>12</integer>
					</dict>
					<dict>
						<key>当前用户已录指纹数量</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>当前用户卡最大容量</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>当前用户已录卡数量</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>当前用户密码最大容量</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>当前用户已录密码数量</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>胁迫报警方式</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>02</key>
				<array>
					<dict>
						<key>当前访客密码索引号</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>密码</key>
						<integer>12</integer>
					</dict>
					<dict>
						<key>密码有效状态</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>03</key>
				<array>
					<dict>
						<key>当前索引号</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>用户总数</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>用户索引序号</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>绑定的用户ID</key>
						<integer>8</integer>
					</dict>
				</array>
				<key>04</key>
				<array>
					<dict>
						<key>开锁认证方式</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>门锁功能开关</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>系统电量管理模式</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>访客密码有效状态</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>最大用户数</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>参数设置标志</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>0F</key>
				<array>
					<dict>
						<key>管理员权限</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>校验码</key>
				<integer>-4</integer>
			</dict>
		</array>
		<key>EB</key>
		<array>
			<dict>
				<key>指令帧头</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>门锁ID</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>安全码</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>指令类型</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>开锁认证方式</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>门锁功能开关</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>系统电量管理模式</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>访客密码有效状态</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>校验码</key>
				<integer>-4</integer>
			</dict>
		</array>
		<key>ED</key>
		<array>
			<dict>
				<key>指令帧头</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>门锁ID</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>安全码</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>指令类型</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>01</key>
				<array>
					<dict>
						<key>索引号数量</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>指纹数量</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>IC卡数量</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>密码数量</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>02</key>
				<array>
					<dict>
						<key>索引号数量</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>指纹数量</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>IC卡数量</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>密码数量</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>03</key>
				<array>
					<dict>
						<key>索引号数量</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>指纹数量</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>IC卡数量</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>密码数量</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>04</key>
				<array>
					<dict>
						<key>索引号数量</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>指纹数量</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>IC卡数量</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>密码数量</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>校验码</key>
				<integer>-4</integer>
			</dict>
		</array>
		<key>EE</key>
		<array>
			<dict>
				<key>指令帧头</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>门锁ID</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>安全码</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>指令类型</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>01</key>
				<array>
					<dict>
						<key>修改用户密码成功</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>02</key>
				<array>
					<dict>
						<key>退出APP设置菜单成功</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>03</key>
				<array>
					<dict>
						<key>绑定的用户ID</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>07</key>
				<array>
					<dict>
						<key>设置开门声音成功</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>08</key>
				<array>
					<dict>
						<key>设置门锁常开</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>0F</key>
				<array>
					<dict>
						<key>更改管理员密码成功</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>校验码</key>
				<integer>-4</integer>
			</dict>
		</array>
		<key>EF</key>
		<array>
			<dict>
				<key>指令帧头</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>门锁ID</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>安全码</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>指令类型</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>01</key>
				<array>
					<dict>
						<key>绑定的用户ID</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>02</key>
				<array>
					<dict>
						<key>绑定的用户ID</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>03</key>
				<array>
					<dict>
						<key>绑定的用户ID</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>04</key>
				<array>
					<dict>
						<key>绑定的用户ID</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>0F</key>
				<array>
					<dict>
						<key>绑定的用户ID</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>校验码</key>
				<integer>-4</integer>
			</dict>
		</array>
		<key>FE</key>
		<array>
			<dict>
				<key>指令帧头</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>门锁ID</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>安全码</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>二级指令类型</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>错误类型</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>管理员权限标识</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>校验码</key>
				<integer>-4</integer>
			</dict>
		</array>
	</dict>
	<key>LockHead</key>
	<array>
		<string>A2</string>
		<string>AB</string>
		<string>AD</string>
		<string>AE</string>
		<string>AF</string>
		<string>E2</string>
		<string>EB</string>
		<string>ED</string>
		<string>EE</string>
		<string>EF</string>
		<string>FE</string>
	</array>
</dict>
</plist>
